.testimonials-section {
  margin: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
   position: relative;
   min-height: 800px;
  }
  .testimonials-section .rightimg {
    
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .testimonials-section .col-lg-4,
  .testimonials-section .col-lg-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .testimonial-heading h4 {
    font-weight: bolder;
    font-size: 50px;
    color: #0d233e;
    margin-bottom: 0;
  }
  .testimonial-heading img {
    margin: 30px 0 0 0;
  }
  .testimonials-section .owl-carousel .owl-item .testi-img {
    border-radius: 50px;
    width: 86px;
    height: 86px;
    border: 3px solid rgba(62, 102, 223, 0.3);
  }
  .testimonials-section .owl-carousel .owl-item img {
    width: auto;
    border-radius: 50px;
  }
  .testimonials-slidersection {
    margin-top: -430px;
    position: relative;
  }
  .testimonials-slidersection .owl-nav {
    position: absolute;
    right: 14px;
    top: -40px;
  }
  .testimonial-info {
    background: #000;
    padding: 40px;
    margin: 30px 0px 30px 0;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
  }
  .testi-author h6 {
    color: #0d233e;
    font-size: 24px;
    font-weight: 800;
    margin:5px;
  }
  .testi-author {
    margin: 0 0 0 20px;
  }
  .testi-author p {
    color: #666;
  }
  .testimonialslider-heading {
    align-items: center;
  }
  .testimonialslider-content {
    margin: 40px 15px 15px 15px;
  }
  .owl-prev,
.owl-next {
  margin: 0 12px 0 0;
  border: 1px solid #dee2e7;
  border-radius: 10px;
  color: #7f7f7f;
  background: #fff;
  width: 44px;
  height: 44px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.owl-next {
  margin-right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  border: 1px solid #b31313;
  color: #fff;
  background: #b31313;
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
}
.slider-wrapper{
  height: 100px;
}
.testimonial-info{
  width: 700px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .testimonial-info{
    width: 400px;
    background-color: #fff;
    margin-left: 20px;
  }
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 .owl-carousel,
 .owl-carousel .owl-item {
     -webkit-tap-highlight-color: transparent;
     position: relative
 }
 
 .owl-carousel {
     display: none;
     width: 100%;
     z-index: 1
 }
 
 .owl-carousel .owl-stage {
     position: relative;
     -ms-touch-action: pan-Y;
     touch-action: manipulation;
     -moz-backface-visibility: hidden
 }
 
 .owl-carousel .owl-stage:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0
 }
 
 .owl-carousel .owl-stage-outer {
     position: relative;
     overflow: hidden;
     -webkit-transform: translate3d(0, 0, 0)
 }
 
 .owl-carousel .owl-item,
 .owl-carousel .owl-wrapper {
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     -ms-transform: translate3d(0, 0, 0)
 }
 
 .owl-carousel .owl-item {
     min-height: 1px;
     float: left;
     -webkit-backface-visibility: hidden;
     -webkit-touch-callout: none
 }
 
 .owl-carousel .owl-item img {
     display: block;
     width: 100%
 }
 
 .owl-carousel .owl-dots.disabled,
 .owl-carousel .owl-nav.disabled {
     display: none
 }
 
 .no-js .owl-carousel,
 .owl-carousel.owl-loaded {
     display: block
 }
 
 .owl-carousel .owl-dot,
 .owl-carousel .owl-nav .owl-next,
 .owl-carousel .owl-nav .owl-prev {
     cursor: pointer;
     -webkit-user-select: none;
     -khtms-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }
 
 .owl-carousel .owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev,
 .owl-carousel button.owl-dot {
     background: 0 0;
     color: inherit;
     border: none;
     padding: 0 !important;
     font: inherit
 }
 
 .owl-carousel.owl-loading {
     opacity: 0;
     display: block
 }
 
 .owl-carousel.owl-hidden {
     opacity: 0
 }
 
 .owl-carousel.owl-refresh .owl-item {
     visibility: hidden
 }
 
 .owl-carousel.owl-drag .owl-item {
     -ms-touch-action: pan-y;
     touch-action: pan-y;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }
 
 .owl-carousel.owl-grab {
     cursor: move;
     cursor: grab
 }
 
 .owl-carousel.owl-rtl {
     direction: rtl
 }
 
 .owl-carousel.owl-rtl .owl-item {
     float: right
 }
 
 .owl-carousel .animated {
     animation-duration: 1s;
     animation-fill-mode: both
 }
 
 .owl-carousel .owl-animated-in {
     z-index: 0
 }
 
 .owl-carousel .owl-animated-out {
     z-index: 1
 }
 
 .owl-carousel .fadeOut {
     animation-name: fadeOut
 }
 
 @keyframes fadeOut {
     0% {
         opacity: 1
     }
 
     100% {
         opacity: 0
     }
 }
 
 .owl-height {
     transition: height .5s ease-in-out
 }
 
 .owl-carousel .owl-item .owl-lazy {
     opacity: 0;
     transition: opacity .4s ease
 }
 
 .owl-carousel .owl-item .owl-lazy:not([src]),
 .owl-carousel .owl-item .owl-lazy[src^=""] {
     max-height: 0
 }
 
 .owl-carousel .owl-item img.owl-lazy {
     transform-style: preserve-3d
 }
 
 .owl-carousel .owl-video-wrapper {
     position: relative;
     height: 100%;
     background: #000
 }
 
 .owl-carousel .owl-video-play-icon {
     position: absolute;
     height: 80px;
     width: 80px;
     left: 50%;
     top: 50%;
     margin-left: -40px;
     margin-top: -40px;
     
     cursor: pointer;
     z-index: 1;
     -webkit-backface-visibility: hidden;
     transition: transform .1s ease
 }
 
 .owl-carousel .owl-video-play-icon:hover {
     -ms-transform: scale(1.3, 1.3);
     transform: scale(1.3, 1.3)
 }
 
 .owl-carousel .owl-video-playing .owl-video-play-icon,
 .owl-carousel .owl-video-playing .owl-video-tn {
     display: none
 }
 
 .owl-carousel .owl-video-tn {
     opacity: 0;
     height: 100%;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
     transition: opacity .4s ease
 }
 
 .owl-carousel .owl-video-frame {
     position: relative;
     z-index: 1;
     height: 100%;
     width: 100%
 }