.popular-locations {
   padding-top: 30px;
    background-color: #b31313;
    text-align: center;
    color: #fff;
    position: relative;
  }
  .element-style {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  .popular-circleimg {
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 0;
  }
  .popularcircle-img img {
    filter: invert(1) brightness(100);
  }
  .section-heading h2 {
    font-weight: 700;
    font-size: 36px;
    color: #0d233e;
    margin: 0 0 15px;
    display: flex;
    align-items: center;
  }
  .section-heading h2 span {
    color: #2b294e;
    background: #b31313;
    border-radius: 57%;
    padding: 5px 2px;
    font-size: 32px;
  }
  .section-heading h2 span {
    color: #fff;
    background: #b31313;
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    background-position: center center;
    justify-content: center;
  }
  .section-heading h2 span.title-left {
    margin-left: 10px;
  }
  .section-heading h2 span.title-right {
    margin-right: 10px;
  }
  .popular-locations .section-heading h2 span {
    color: #c10037;
    background: #fff;
    
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    background-position: center center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 0;
  }
  .popular-locations .section-heading h2 {
    color: #fff;
    justify-content: center;
  }
  .popular-locations .location-info-details {
    border-radius: 10px;
    align-items: center;
    margin: 0px 0px 20px 0px;
  }
  .popular-locations .location-content p {
    color: #717171;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .location-info-details .location-img img {
    border-radius: 10px;
  }
  .location-info:last-child {
    margin-right: 0;
  }
  .location-details {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .popular-locations .location-content {
    padding: 0 0px 0 15px;
    text-align: left;
    width:auto;
  }
  .popular-locations .location-content a {
    font-size: 20px;
    font-weight: 600;
    color: #0d233e;
    display: inline-block;
    margin: 0 0 3px;
  }
  .popular-locations .location-content a:hover {
    color: #c10037;
  }
  .popular-locations .location-content a.view-detailsbtn {
    padding: 8px 8px;
    border-radius: 5px;
    width: 100%;
    margin: 0px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #374b5c;
    font-weight: normal;
    box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  }
  .popular-locations .location-content a.view-detailsbtn:hover {
    background: #c10037;
    color: #fff;
  }